<div class="title-add-task">

  <h1>My Tasks</h1>

    <%= link_to (fa_icon "plus"), new_task_path %>
</div>

<div class="card">
  <div class="card-body">
   <% @tasks.each do |task| %>
  <%= link_to task.title, task_path(task) %>
  <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  <% end %>
  </div>
</div>


