.title-add-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.task-title-and-delete {
  display: flex;
  flex-direction: row;
  text-align: center;

}

.card {
  border: 1px solid;
  display; flex;
  flex
}
